body,h1,h2,h3,h4,h5,h6 {font-family: "Arial", sans-serif}

/* unvisited link */
      a:link {
        color: #E1E1E1;
        text-decoration:none;
      }
      /* visited link */
      a:visited {
        color: #E1E1E1;
        text-decoration:none;
      }
      /* mouse over link */
      a:hover {
        color: white;
        text-decoration:none;
      }
      /* selected link */
      a:active {
        color: #263727;
    	text-decoration:none;
      }
/* Full height image header */
body{
  color:#E1E1E1;
  background-color: #202B20;
}

.main {
  margin-top:90px;
  background-color: #202B20;
  color:#E1E1E1;
  overflow-y: auto;
  padding-bottom:100px;
}

.header {
  text-align: left;
  position: fixed;
                top: 0px;
                left: 0px;
                right: 0px;
                height: 75px;
  padding-left:55px;
  padding-top:15px;
  background: #0f1512;
  font-size:20px;
  color: white;
}

.footer {
  text-align: center;
  padding-top: 10px;
  position: fixed;
                bottom: 0px;
                left:0px;
                right:0px;
                height: 35px;
  background: black;
  font-size:7px;
  color: white;
}

.footertxt {

}

.navigation {
  text-align: left;
  letter-spacing:1px;
  position: fixed;
                top: 45px;
                left: 200px;
                right: 0px;
  padding: 0px;
  font-size:15px;
  color: white;
  text-decoration:none;
}

.navtxt {
text-decoration:none;
padding-left:15px
}

.logincreate {
	position:fixed;
	top:0px;
	right:28px;
	font-size:12px;
	color: #E1E1E1;
}

.shoppingcartlink {
  position: fixed;
  		right:24px;
  		top:44px;
  height:35px; 
  width:120px;
  padding-top:6px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  outline:none;
}

.categorytxt {
padding-left:50px;
margin-top:20px;
letter-spacing:1px;
text-shadow:.3px .3px #D5D4D4;
}

.gametxt {
padding-left:60px;
margin-top:20px;
letter-spacing:1px;
}

/* Style the search box inside the navigation bar */
.topnav input[type=text] {
  position: fixed;
  		right:0px;
  		top:44px;
  padding: 6px;
  border: 2px;
  border-style: solid;
  border-color: #314833;
  margin-right: 155px;
  font-size: 17px;
}
