.Header {
    background-color: grey
}

body {background-color: rgb(33, 183, 191);}

#head1 {background-color: rgb(0, 137, 145);}
#body2 {background-color: rgb(255, 255, 255);}
#h1 {color: rgb(54, 49, 49); text-align: center; margin: 20px}
#p1 {
    text-align: center;
    color: black;
    font-size: 12px;
    margin: 10px;
}
#p2 {
    text-align: center;
    color: rgb(189, 7, 7);
    font-size: 12px;
    margin: 10px;
}
#middle {
    text-align: center;
}
#centerB {
    box-align: center;
}

.gameitems {
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    grid-gap: 20px;
}

.gameitem {
    display: grid;
    grid-template-rows: max-content 200px 1fr;
    background-color: beige;
}